version: 0.1

############################################################
# +------------------------------------------------------+ #
# |                     Database                         | #
# +------------------------------------------------------+ #
############################################################
# Type: (mysql | sqlite)
Type: sqlite

# Mysql only
Database: toppvp
Username: toppvp
Password: castawaydev

############################################################
# +------------------------------------------------------+ #
# |                    Scoreboard                        | #
# +------------------------------------------------------+ #
############################################################

# Enables the scoreboard-based leaderboards 
Scoreboard: True
# Length of the leaderboard. Max 10 players.
Length: 3
# 

# 


############################################################
# +------------------------------------------------------+ #
# |                  Web Interface                       | #
# +------------------------------------------------------+ #
############################################################

# 
Username:
# 
Password:
# 
Secret: 
#